.container{
    width: 600px;
    height: 400px;
    background-color: rgb(247, 0, 255);
    outline: solid 2px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.item{
    width: 100px;
    /* height: 100px; */
    /* flex-grow: 1; */
    outline: solid 1px black;
    /* padding-left: 30px;
    padding-top: 30px; */
    box-sizing: border-box;
}  

/*pseudoselectores */
/*selectores para casos especificos*/
.container .item:first-child{
    background-color: blue;
    color: white;
    /* flex-grow: por defecto es 0; */
    flex-grow: 1;
}
.container .item:last-child{
    background-color: green;
    color: beige;
    flex-grow: 1.4;
}
.container .item:nth-child(2){
    background-color: red;
    color: beige;
    flex-grow: 0.5;
}
.container .item:nth-child(3){
    background-color: gray;
    color: beige;
    flex-grow: 0.7;
}